<div class="center-container" style="height:500px; border-radius:150px">
    <h2>To-Do List</h2>
    <div>
        <input [(ngModel)]="newTask.title" placeholder="Task title" style="height:37px" />
        <button (click)="addTask()">Add Task</button>
       <ul>
        <li *ngFor="let task of tasks" class="task-item">
            <input type="radio" [(ngModel)]="task.completed" [disabled]="task.completed" />
            <input [(ngModel)]="task.title" [disabled]="editingTask !== task" /> 
            
          <div class="buttons-right">
                    <button (click)="editTask(task)" [hidden]="editingTask === task || task.completed">Edit</button>
                    <button (click)="completeTask(task)"
                        [hidden]="task.completed || editingTask === task">Complete</button>
                    <button (click)="deleteTask(task)" [hidden]="!task.completed">Delete</button>
                    <button (click)="saveEditedTask()" *ngIf="editingTask === task">Save</button>
                    <button (click)="cancelEdit()" *ngIf="editingTask === task">Cancel</button>
          </div>
        </li>
    </ul>
  </div>
</div>
